<div class="fixed inset-0 -z-10 overflow-hidden">


  <!-- Immagine con parallax -->

  <div
    id="hero-parallax"
    class="absolute inset-[-60px]"
  >

    <img
      src="/hero-bg2.jpeg"
      alt=""
      class="
        w-full
        h-full
        object-cover
        object-center
        scale-105
      "
    />

  </div>



  <!-- Overlay scuro -->

  <div
    class="
      absolute
      inset-0
      bg-gradient-to-r
      from-slate-950/90
      via-slate-950/50
      to-transparent
    "
  ></div>



  <!-- Fade inferiore -->

  <div
    class="
      absolute
      inset-x-0
      bottom-0
      h-64
      bg-gradient-to-t
      from-slate-950
      to-transparent
    "
  ></div>



  <!-- Glow -->

  <div
    class="
      absolute
      -top-40
      -right-40
      w-[500px]
      h-[500px]
      rounded-full
      bg-cyan-400/[0.08]
      blur-3xl
    "
  ></div>



  <div
    class="
      absolute
      bottom-0
      -left-40
      w-[500px]
      h-[500px]
      rounded-full
      bg-purple-500/[0.08]
      blur-3xl
    "
  ></div>



  <div class="noise-page"></div>


</div>



<script>
const bg = document.querySelector("#hero-parallax")

if (bg) {

  window.addEventListener("scroll", () => {

    const scroll = window.scrollY

    bg.style.transform = `
      translateY(${scroll * 0.02}px)
    `

  })

}
</script>