<nav class="max-w-4xl mx-auto px-6 py-4 flex justify-between items-center">

  <a href="/" class="font-bold text-lg">
    Olga Marrazzo
  </a>


  <div class="flex gap-6 text-sm text-gray-600">

    <a 
      href="/progetti"
      class="hover:text-black transition"
    >
      Progetti
    </a>


    <a 
      href="/contatti"
      class="hover:text-black transition"
    >
      Contatti
    </a>

  </div>

</nav>