---
interface Props {
  title: string
}

const { title } = Astro.props

import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;1,400&display=swap" rel="stylesheet" />
    </head>

  <body class="font-[Inter] bg-slate-50 text-slate-900">

  <div class="absolute top-0 left-0 right-0 z-50">
    <Nav />
  </div>

  <main class="w-full overflow-hidden">
  <slot />
</main>

  <Footer />

</body>

</html>